<!DOCTYPE html>
<html>
<head>
	<title>Profile Sponsor</title>
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover {
			background-color: #111;
		}
		tr {
			height: 60px;
		}

		td {
			font-size: 30px ;
			vertical-align: text-top;
		}

		.value {
			max-width: 400px;
		}
		.mainContainer {
		    background: #005c99; /* For browsers that do not support gradients */
		    background: linear-gradient(#005c99,#ccebff); /* Standard syntax (must be last) */

		    background-repeat: no-repeat;
		    background-size: cover;
		    background-attachment: fixed;
		    font-family: Trebuchet MS
		}	

		#logout {
			position: absolute;
    		right: 50px;
    		margin-top: 10px;
			background-color: #d11919;
			padding: 5px;
			border-radius: 20%;
		}
	</style>
</head>
<body class = "mainContainer">
	<ul>
  		<li><a class="active" href="{% url 'sion-profile:profile' %}">Profile</a></li>
  		<li><a href="#organisasi">Organisasi</a></li>
  		<li><a href="#donasi">Donasi Organisasi</a></li>
  		<a href="{% url 'sion-login:auth_logout' %}" id="logout">Logout</a>
	</ul>
	
	
	<center><h1 style="color: white ; font-size: 60px; display: inline-block; margin-top: 50px">Profile</h1></center>

	<center><img style="border-radius : 50% ; padding: 7px ; background-color: rgb(0, 92, 153, 0.6)" src="thanos.png" alt="Thanos!!" width="200" height="200"></center>

	<center><table style = "padding : 5px ; padding-top: 110px ; background-color: rgb(255,255,255,0.8) ; margin: -110px; border-radius: 1%" width="50%">
		<tr>
			<td class="key"><b>Nama Sponsor</b></td>
			<td>:</td>
			<td class="value">{{ nama }}</td>
		</tr>
		<tr>
			<td class="key"><b>Email</b></td>
			<td>:</td>
			<td class="value">{{ email }}</td>
		</tr>
		<tr>
			<td class="key"><b>Alamat</b></td>
			<td>:</td>
			<td class="value">{{ alamat }}</td>
		</tr>
	</table></center>
</body>
</html>