<!DOCTYPE html>
<html>
<head>
	<title>Profile Pengurus Organisasi</title>
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
		}

		li {
			float: left;
		}

		li a, .dropbtn {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover, .dropdown:hover .dropbtn {
			
		}

		li.dropdown {
			
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			text-align: left;
		}

		.dropdown-content a:hover {
			background-color: #f1f1f1
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}
		.container {
			width: 50%;
		}

		.key {
			font-size: 30px ;
			text-align: left;
			margin: 0;
		}

		.value {
			font-size: 30px ;
			margin: 0;
			text-align: left;
		}

		.mainContainer {
		    background: #005c99; /* For browsers that do not support gradients */
		    background: linear-gradient(#005c99,#ccebff); /* Standard syntax (must be last) */

		    background-repeat: no-repeat;
		    background-size: cover;
		    background-attachment: fixed;
		    font-family: Trebuchet MS
		}

		#logout {
			position: absolute;
    		right: 50px;
    		margin-top: 10px;
			background-color: #d11919;
			padding: 5px;
			border-radius: 20%;
		}
	</style>
</head>
<body class = "mainContainer">
	<ul>
  		<li><a class="active" href="{% url 'sion-profile:profile' %}">Profile</a></li>
  		<li><a href="#organisasi">Organisasi</a></li>
  		<li class="dropdown">
    		<a href="javascript:void(0)" class="dropbtn">Kegiatan</a>
    		<div class="dropdown-content">
      			<a href="#">Lihat</a>
      			<a href="#">Buat</a>
    		</div>
  		</li>
  		<a href="{% url 'sion-login:auth_logout' %}" id="logout">Logout</a>
	</ul>
	
	
	<center><h1 style="color: white ; font-size: 60px; display: inline-block; margin-top: 50px">Profile</h1></center>

	<center>
	<div class="container" style="padding: 5px; background-color: rgb(255,255,255,0.8)">
		<h2 class="key">Nama</h2>
		<p class="value">{{ nama }}</p>
		<br>
		<h2 class="key">Email</h2>
		<p class="value">{{ email }}</p>
		<br>
		<h2 class="key">Alamat</h2>
		<p class="value">{{ alamat }}</p>
		<br>
		<h2 class="key">Organisasi</h2>
		<p class="value">{{ organisasi }}</p>
	</div>
	</center>
</body>
</html>