<!DOCTYPE html>
<html>
<head>
	<title>Form Pengurus Organisasi</title>
	<style>
		.formInput {
			border-radius: 10%;
			height: 40px;
		}

		td, .formInput, .submit {
			font-family: Trebuchet MS;
			font-size: 30px;
		}

		.submit {
			margin: 40px;
			border-radius: 7%;
			background-color: #00cccc;
			width: 50%;
		}

		.mainContainer {
		    background: #005c99; /* For browsers that do not support gradients */
		    background: linear-gradient(#005c99,#ccebff); /* Standard syntax (must be last) */

		    background-repeat: no-repeat;
		    background-size: cover;
		    background-attachment: fixed;
		}	
	</style>
</head>
<body class = "mainContainer">
	<form method="POST" action="{% url 'sion-register:register_organisasi' %}">
	<% csrf_token %>
		<center>
		<div style="width: 1500px; background-color: #d9d9d9; margin-top: 200px;">
			<div style=" display: inline-block;">
				<h1>Organisasi</h1>
				<table id="organisasiTable">
					<tr>
						<td class="key">Nama Organisasi</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="namaOrganisasiText"></td>
					</tr>
					<tr>
						<td class="key">Website</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="websiteText"></td>
					</tr>
					<tr>
						<td class="key">Email</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="emailText"></td>
					</tr>
					<tr>
						<td class="key">Kecamatan</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="kecamatanText"></td>
					</tr>
					<tr>
						<td class="key">Kabupaten</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="kabupatenText"></td>
					</tr>
					<tr>
						<td class="key">provinsi</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="provinsiText"></td>
					</tr>
					<tr>
						<td class="key">Kode Pos</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="kodePosText"></td>
					</tr>
					<tr>
						<td class="key">Jalan/Desa/Kelurahan/No.Rumah</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="additionalAddressText"></td>
					</tr>
					<tr>
						<td style="vertical-align: text-top">Tujuan Organisasi</td>
						<td style="vertical-align: text-top">:</td>
						<td><input class="formInput" type="text" name="tujuanOrganisasiText1"></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><button style="margin-left: 250px; border: none; background: none; font-size: 25px" type="button" onclick="tambahTujuan()">+tujuan</button></td>
					</tr>
				</table>
			</div>
			<div style=" display: inline-block;">
				<h1>Pengurus Organisasi</h1>
				
				<table id="pengurusOrganisasiTable">
					<tr>
						<td>Pengurus 1</td>
					</tr>
					<tr>
						<td class="key">Nama Pengurus</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="namaPengurusText1"></td>
					</tr>
					<tr>
						<td class="key">Email Pengurus</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="emailPengurusText1"></td>
					</tr>
					<tr>
						<td class="key">Alamat Pengurus</td>
						<td>:</td>
						<td><input class="formInput" type="text" name="alamatPengurusText1"></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><button style="margin-left: 220px; border: none; background: none; font-size: 25px" type="button" onclick="tambahPengurus()">+pengurus</button></td>
					</tr>
				</table>
			</div>
			<div>
				<input class="submit" type="submit" name="submit" value="Register">
			</div>
		</div>
		</center>
	</form>

	<script>
		var tujuanCounter = 1;
		var tujuanRow = 8;

		var pengurusOrganisasiCounter = 1;
		var pengurusOrganisasiRow = 0;

		function tambahTujuan() {
			tujuanCounter++;
			tujuanRow++;

			var table = document.getElementById("organisasiTable");
			var row = table.insertRow(tujuanRow);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);

			// Tambah input tujuan
			var newInput = document.createElement("INPUT");
			newInput.setAttribute("type", "text");
			newInput.className = "formInput";
			newInput.name = "tujuanOrganisasiText" + tujuanCounter;
			cell3.appendChild(newInput);


		}

		function tambahPengurus() {
			pengurusOrganisasiCounter++;
			pengurusOrganisasiRow += 4;

			var table = document.getElementById("pengurusOrganisasiTable")

			// Judul
			var row = table.insertRow(pengurusOrganisasiRow);
			var cell1 = row.insertCell(0);
			cell1.style.paddingTop = "20px";
			cell1.innerHTML = "Pengurus " + pengurusOrganisasiCounter;

			// Form nama
			var row = table.insertRow(pengurusOrganisasiRow+1);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			cell1.className = "key";
			cell1.innerHTML = "Nama Pengurus";
			cell2.innerHTML = ":";
			var newInput = document.createElement("INPUT");
			newInput.setAttribute("type", "text");
			newInput.className = "formInput";
			newInput.name = "namaPengurusText" + pengurusOrganisasiCounter;
			cell3.appendChild(newInput);

			// Form Email
			var row = table.insertRow(pengurusOrganisasiRow+2);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			cell1.className = "key";
			cell1.innerHTML = "Email Pengurus";
			cell2.innerHTML = ":";
			var newInput = document.createElement("INPUT");
			newInput.setAttribute("type", "text");
			newInput.className = "formInput";
			newInput.name = "emailPengurusText" + pengurusOrganisasiCounter;
			cell3.appendChild(newInput);

			// Form Alamat
			var row = table.insertRow(pengurusOrganisasiRow+3);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			cell1.className = "key";
			cell1.innerHTML = "Alamat Pengurus";
			cell2.innerHTML = ":";
			var newInput = document.createElement("INPUT");
			newInput.setAttribute("type", "text");
			newInput.className = "formInput";
			newInput.name = "alamatPengurusText" + pengurusOrganisasiCounter;
			cell3.appendChild(newInput);
		}
	</script>
</body>
</html>