<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>

<body class="bg-primary">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-repeat"></i>
        <b>SION</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent"> </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 text-center bg-secondary text-uppercase text-dark">Register</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <i class="d-block  fa fa-5x fa-fw w-100 bg-dark fa-smile-o"></i>
          <div class="row">
            <div class="col-md-12">
              <a href="{% url 'sion-register:form_register_relawan' %}" class="btn text-center btn-block btn-success">Daftar Menjadi Relawan</a>
              <div class="row">
                <div class="col-md-12">
                  <i class="d-block  fa fa-5x fa-fw w-100 bg-dark fa-users"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="{% url 'sion-register:form_register_organisasi' %}" class="btn btn-block btn-success">Daftar Menjadi Pengurus Organisasi</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <i class="d-block  fa fa-5x fa-fw w-100 bg-dark fa-money"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="{% url 'sion-register:form_register_donatur' %}" class="btn btn-block btn-success">Daftar Menjadi Donatur</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <i class="d-block  fa fa-5x fa-fw w-100 bg-dark fa-briefcase"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="{% url 'sion-register:form_register_sponsor' %}" class="btn btn-block btn-success">Daftar Menjadi Sponsor</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>